{{> header}}

<div class="container">
    {{#each articles}}
    <div class="card" id={{this._id}}>
        <div class="card-header bg-primary text-white">
            <a href="{{this.link}}" target="_blank">{{this.title}}</a>
            <form action="/delete/{{this._id}}" method="POST">
                <button type="submit" class="delete btn btn-danger delete-article" data-id="{{id}}">Delete Article</button>
            </form>
            {{!--
            <form action="/delete/{{this._id}}" method="POST">
                <button type="submit" class="note btn btn-warning add-note" data-id="{{id}}">Add Note</button>
            </form> --}}
            <button type="button" id="addnote" class="note btn btn-warning add-note" data-id="{{id}}" data-toggle="modal" data-target="#modal{{this._id}}">
                Article Notes
            </button>
        </div>
        <div class="card-body">
            <summary>{{this.summary}}</summary>
        </div>
    </div>
    {{/each}} {{#each articles}}
    <!-- The Modal -->
    {{!-- id set with add note button matches id here --}}
    <div class="modal fade" id="modal{{this._id}}">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">
                        <strong>Notes for article: </strong>{{this.title}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <textarea type="textarea" class="form-control" id="bodyinput{{this._id}}" rows="3"></textarea>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" data-id="{{id}}" id="savenote">Save</button>
                </div>

            </div>
        </div>
    </div>
    {{/each}}
</div>

<!-- JS links -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>